@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,500&display=swap');
*{
	margin: 0px ;
	padding: 0px;
	outline: none;
	text-decoration: none;
	list-style: none;
	font-family:Montserrat ;
}
:root{
	--main-color:rgb(238,255,247);
	--heading-color:#5A20CB;
	--list-tems-color:#000000;
	--border-color:#808080
}
.HEAD{
	position: fixed;
	top: 0;
	background:var(--main-color);
	width: 100%;
	padding: 20px 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom-left-radius: 30px; 
}
.header-containets{
	width: 90%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.three-line{
	color: #000000;
	position: absolute;
	right: 0%;
	margin-top: 12px;
	margin-right: 20px;
	display: none;
}
.cross-sign{
	color: #000000;
	position: absolute;
	right: 0%;
	margin-top: 12px;
	margin-right: 20px;
	display: none;
}
.HEAD H5{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 240px;
	font-size: 25px;	
	border: 3px solid var(--border-color);
	border-radius: 30px;
	margin-left: -20px;
}
.HEAD ul{
	display: flex;	
}
ul li a{
	color: var(--list-tems-color);
}
.HEAD ul li{
	color: var(--list-tems-color);
	font-size: 25px;
	font-weight: 500;
	display: flex;
   padding: 7px 25px;
   margin: 0px 20px;
   border: 3px solid var(--border-color);
	border-radius:15px;
}
.HEAD  li:hover{
	transform: scale(1.1);
	transition: 0.5s;  
	box-shadow: 1px 1px 5px 1px #808080;
	
}



.middle{
	width: 100%;
	margin-top: 100px;
	
}
.middle-containets{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px auto;
}
.middle .left{
	margin: 20px auto;
	width: 40%;
	height: auto;
}
.middle .left h1{
	font-size: 40px;
	font-weight: 500;
}
.middle .left h2{
	font-size: 50px;
	color: var(--heading-color) ;
	margin: 10px auto;
}
.middle .right{
	width: 50%;
	height: auto;
}
.middle .right img{
	width: 100%;
	
}

section{
	width: 100%;
	height: auto;
	padding: 20px 0px;
}
.information{
	width: 90%;
	margin: 0px auto;
}
.color{
	background: rgb(247,247,255);;
}
section button{
	width: 160px;
	height: 45px;
	padding: 10px 20px;
	border: 3px solid var(--heading-color);
	border-radius: 8px;
	font-size: 25px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
}
section button:hover{
	color: var(--heading-color);
	font-weight: 600;
     transform: scale(1.1);
	 transition: 0.6s;  
	 box-shadow: 1px 1px 5px 2px var(--heading-color);
}
.information h1 {
	color: var(--heading-color);
	font-size: 40px;
	font-weight: 600;
}
.information h2{
   font-weight: 400;
   margin: 10px 0px;
}





.project button:hover{
	transform: scale(1.1);
	transition: 0.5s;
	cursor: pointer;
	border: 2px solid#000000;
	background-color: transparent;
	box-shadow: 1px 1px 5px 5px #000000;
}



footer{
	background:var(--main-color);
	width: 100%;
	
	padding: 30px 0px;
	border-top-right-radius: 30px;
}
.main{
	width: 60%;
    margin: 0px auto;
	
}
.FOOTER h5{
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	
	
}
.FOOTER .main ul{
     display: flex;  
    justify-content: space-between;
}
.FOOTER .main li{
	font-size: 25px;
    margin-top: 15px;
}
.FOOTER .main li a{
	font-weight: 600;
	color: #000000;
}
.twit{
	color: rgba(8, 160,233);
	margin-left: 5px;
}
.face{
	color: rgb(59,89,152);
	margin-left: 5px;
}
.link{
	color: rgb(0,119,181);
	margin-left: 5px;
}
.git{
	margin-left: 5px;
	color: rgb(red, green, blue);
}


@media screen and (max-width:880px) {
	.middle-containets{
		flex-direction: column;
	}
	.middle-containets .left{
		width: 87%;
	}
	.middle-containets .right{
		width: 87%;
	}
	.middle-containets .left h2{
		margin: 5px 0px;
		
	}	
}
@media screen and (max-width:460px) {
	
	.middle-containets .left{
		width: 95%;
	}
	.middle-containets .right{
		width: 95%;
	}
	.middle-containets .left h1{
		font-size: 30px;
	}
	.middle-containets .left h2{
		font-size: 35px;
	}
	
}
@media screen and (max-width:1100px) {
	.header-containets{
		flex-direction: column;
		align-items: flex-start;
	}
	.header-list{
		margin-top: 20px;
	}
	.header-list{
		margin-left: -20px;
	}
	.middle{
		margin-top: 185px;
	}
}

@media screen and (max-width:820px) {
	.header-containets{
		flex-direction: column;
		align-items: flex-start;
	}
	.header-list{
		position: fixed;
		margin-top: 80px;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #120E43;
		flex-direction: column;
	   gap: 20px;
		text-align: center;
	}
	.middle{
		margin-top: 120px;
	}
	.header-list li a{
		margin: 1px auto;
		color: #ffffff;
		
	}

	.three-line{
		display: inline;
	}
	#nav:checked ~ ul{
		left: 2.6%;
		transition: 0.6s ease-in-out;
	}
	#nav:checked ~ .three-line{
		display: none;
	}
	#nav:checked ~ .cross-sign{
		display: inline;
	}
	.HEAD ul li {
		margin: 20px auto 0px;
          width: 200px;
	}	
}

/* media query for fotter section    */
@media screen and (max-width:1100px) {
	footer .main{
		width: 75%;
	}
}
@media screen and (max-width:830px) {
	footer .main{
		width: 85%;
	}
}
@media screen and (max-width:670px) and (min-width:355px) {
	footer .main ul{
		flex-direction: column;
	}
	footer .main ul :nth-child(4) a ,footer .main ul :nth-child(2) a {
		float: right;
		margin-top: -45px;
	}
}
@media screen and (max-width:355px){
	footer .main ul{
		flex-direction: column;
		text-align: center;
	}
}
